.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    gap: 20px 17px;
}

@media screen and (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 425px) {
    .cards {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, 361px);
    }
}