.cards {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    margin: auto;
    gap: 20px 17px;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .cards {
        grid-template-columns: repeat(2, minmax(282px, auto));
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 786px) {
    .cards {
        grid-template-columns: repeat(1, minmax(282px, 400px));
    }
}