.popup__field_type_info {
    margin: 0 auto 48px auto;
    padding: calc(13 / 1280 * 100vw) 0 calc(13 / 1280 * 100vw) 0;
}

@media screen and (max-width: 678px) {
    .popup__field_type_info {
        margin: 0 auto 45px auto;
    }
}