.popup__container {
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 678px) {
    .popup__container {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:425px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
}