.popup__button {
    width: calc(((430 - 72) / 430) * 100%);
    height: 50px;
    margin: auto;
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}