.popup__name {
    width: calc(((430 - 72) / 430) * 100%);
    margin: 0 auto 30px auto;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    padding: 13px 0 13px 0;
}

@media screen and (max-width: 678px) {
    .popup__name {
        margin: 0 auto 40px auto;
    }
}

@media screen and (max-width: 425px) {
    .popup__name {
        margin: 0 auto 30px auto;
    }
}