.popup__close {
    position: absolute;
    left: 101%;
    top: -11%;
    width: 32px;
    height: 32px;
    object-fit: contain;
    transition: 0.7s;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    background-image: url(../../../images/closeicon.png);
    background-size: cover;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .popup__close {
        left: 91%;
        top: -13%;
        width: 20px;
        height: 20px;
    }
}