.card__image {
    --length: 282px;
    height: var(--length);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


/* @media screen and (max-width: 1279px) {
    .card__image {
        height: calc(var(--length) / 1280 * 100vw);
        width: calc(var(--length) / 1280 * 100vw);
    }
}

@media screen and (max-width: 1024px) {
    .card__image {
        height: calc(var(--length) / 1024 * 100vw);
        width: calc(var(--length) / 1280 * 100vw);
    }
}

@media screen and (max-width: 768px) {
    .card__image {
        height: calc(var(--length) / 768 * 100vw);
        width: calc(var(--length) / 1280 * 100vw);
    }
}

@media screen and (max-width: 425px) {
    .card__image {
        height: calc(var(--length) / 320 * 100vw);
        width: calc(var(--length) / 1280 * 100vw);
    }
} */